* {
    box-sizing: border-box;
    margin: 0;
    border: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #f2e9dc;
}

/* Header styling */
header {
    display: flex;
    width: 100%;
    background-color: #91c499;
    align-items: center;
    justify-content: space-between;
    border-bottom: 5px solid #595959;
    position: fixed;
    margin-bottom: 2%;
}

header h1 {
    font-size: 200%; 
    margin: 2%;
}

/* Main navigation */
nav {
    margin: 2%;
}

nav ul {
    display: flex;
    list-style-type: none;
    gap: 15px;
}

nav a {
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 115%;
    padding: 10px;
}

nav a:hover,
nav a:active {
    text-decoration: underline;
    font-weight: bold;
}

main {
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
    max-width: 96%;
}

/* About Me section*/
.about-me {
    display: flex;
    margin: 3% 0;
    padding-top: 10%; 
    align-items: center;
}

.about-me-content {
    display: flex;
    padding-left: 2%;
}

.about-me-content img {
    border-radius: 10%;
    width: 170px;
    height: 215px;
    object-fit: cover;
    box-shadow: 5px 5px 5px #595959;
}

.about-me-content p {
    font-size: 16px;
    line-height: 1.5;
    margin-left: 3%;
    max-width: 900px;
    align-self: center;
}

/* Projects section*/
.projects {
    display: flex;
    margin-top: 2%;
    align-items: center;
}

.projects-content {
    display: flex;
    padding-left: 2%;
}

.feature-project img{
    border: 3px solid #595959;
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 5px 5px 5px #595959;
}

.contact {
    display: flex;
    margin-top: 2%;
}

.about-me-title,
.projects-title,
.contact-title {
    display: flex;
    width: 200px;
    padding: 5%;
    border-right: 2px solid black;
    align-self: center;
}

.about-me-title h2,
.projects-title h2,
.contact-title h2 {
    text-transform: uppercase;
    font-size: 18px;
    white-space: nowrap;
}




footer {
    display: flex;
    justify-content: center;
    padding: 2%;
    background-color: #808f85;
    color: black;
}

@media screen and (max-width: 768px) {
    header {
        flex-direction: column;
        height: 15vh;
    }

    header h1 {
        font-size: 5vmax;
    }

    nav a {
        font-size: 2vmax;
    }

    .about-me {
flex-direction: column;
padding-top: 14vh;
    }
    .projects,
    .contact {
        flex-direction: column;
    }

    .about-me-content {
        flex-direction: column;
    }

    .about-me-content img {
        width: 40%;
        height: 40%;
        margin: 1%;
    }

    .about-me-title,
    .projects-title,
    .contact-title {
        border-right: none;
        text-decoration: underline;
        padding-bottom: 1%;
        align-self: flex-start;
    }

}