* {
    box-sizing: border-box;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    background-color: #f2e9dc;
    margin: 0;
    border: 0;
}

header {
    display: flex;
    width: 100%;
    height: 7%;
    background-color: #91c499;
    position: fixed;
    justify-content: space-between;
    border-bottom: 5px solid #595959;
}

header h1 {
    font-size: 200%;
    margin: 2%;
}

nav {
    margin: 2%;
}

nav ul {
    display: flex;
    list-style-type: none;
    gap: 15px;
    flex-wrap: wrap;
}

nav a {
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    background: #8b9c91;
    padding: 10px;
   }

nav a:hover {
    background: #595959;
}

main {
    padding-top: 100px;
}

.about-me, 
.projects,
.contact {
    display: flex;
    width: 100%;
}

.about-me-title,
.projects-title,
.contact-title {
    /* margin: 20px;*/
    width: 25%;
    padding: 5%; 
    /* width: 200px;
    height: 200px;  */
    border-right: 2px solid black;
    white-space: nowrap;
}

.about-me-title h2,
.projects-title h2,
.contact-title h2 {
    text-transform: uppercase;
    font-size: 18px;
}

.about-me-content {
    display: flex;
    padding-left: 2%;
}

.about-me-content img {
    border-radius: 10%;
    width: 50%;
    height: 50%; 
    /* width: 170px;
    height: 215px; */
    object-fit: cover;
}

.about-me-content p {
    font-size: 16px;
    line-height: 1.5;
    margin-left: 3%;
}


footer {
    display: flex;
    justify-content: center;
    padding: 2%;
    background-color: #808f85;
    color: black;
}